
page-home {
    
       #ionball {
           position: absolute;
           bottom: 30px;
           left: calc(50% - 50px);
           width: 128px;
           height: 128px;
           background-image: url(../../assets/imgs/teeth.png);
       }
    
   }
